<link rel="stylesheet" href="/stylesheets/index.css">
<div class="d-flex">
  <div class="container-fluid m-5 p-5 bg-light bg-gradient">
    <div id="form" class="d-flex flex-wrap justify-content-center">
      <h1 id="title" class="mb-3">縮網址產生器</h1>
      <div class="input-group has-validation justify-content-center align-items-center">
        <form action="/" method="post" class="needs-validation d-flex" novalidate>
          <label for="urlInput"
            class="d-flex form-label badge bg-primary text-wrap fw-lighter align-items-center m-1">網址</label>
          <input type="text" id="urlInput" name="url" class="form-control"
            pattern="https?:\/\/(www\.)?[-a-zA-Z0-9@:%._\+~#=]{1,256}\.[a-zA-Z0-9()]{1,6}\b([-a-zA-Z0-9()@:%_\+.~#?&//=]*)"
            placeholder="http://...." required>
          <button type="submit" class="byn btn-secondary">立刻縮網址</button>
          <div class="invalid-feedback">
            請輸入有效網址
          </div>
        </form>
      </div>
      {{!-- 縮網址結果 --}}
      {{#if tinyURL}}
      <div id="tiny-results" class="d-flex justify-content-end align-items-center mt-5">
        <input class="mx-2 form-control shadow-none" id="tiny-url" type="text" value="{{tinyURL}}" readonly>
        <button type="button" class="btn btn-primary" id="copy-url" value="{{tinyURL}}">複製縮網址</button>
      </div>
    </div>
    <div id="prompt" class="d-flex justify-content-center align-items-center text-success"></div>
    {{/if}}
  </div>
</div>

<script>
  //表單驗證
  (function () {
    'use strict'

    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.querySelectorAll('.needs-validation')

    // Loop over them and prevent submission
    Array.prototype.slice.call(forms)
      .forEach(function (form) {
        form.addEventListener('submit', function (event) {
          if (!form.checkValidity()) {
            event.preventDefault()
            event.stopPropagation()
          }

          form.classList.add('was-validated')
        }, false)
      })
  })()
  //複製縮網址
  const tinyURL = document.getElementById('tiny-url')
  const copyButton = document.getElementById('copy-url')
  const prompt = document.getElementById('prompt')
  copyButton.addEventListener('click', e => {
    tinyURL.focus()
    tinyURL.select()
    document.execCommand("copy")
    prompt.innerText = '複製成功'
  })
</script>